<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Campus Recruitment System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/resume']">Resume</a></li>
                <li><a [routerLink]="['/jobposting']">Post a Job</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/signin']">Login</a></li>
                <li>
                    <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" [routerLink]="['/signup']">Sign up!</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>