dist/
node_modules/
typings/
.vscode/

*~
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

.idea/
.tmp/
.versions/
tmp/
temp/
$RECYCLE.BIN/
typings/

.DS_Store
Thumbs.db

public/