<div class="row">
    <div class="col-sm-6 col-md-4">
        <!--<div class="thumbnail">-->
        <!--<img src="https://image.freepik.com/free-vector/we-are-hiring-sign_23-2147502433.jpg">-->
        <div class="caption">
            <h2>{{jobs.jobTitle}}</h2>
            <p>{{jobs.description}}</p>
            <p><button *ngIf="!jobs.appliedCandidates[uuid]" class="btn btn-primary" role="button" (click)="apply(jobs.uid, jobs.$key)">Apply</button>
                <button *ngIf="jobs.appliedCandidates[uuid]" class="btn btn-primary" role="button" disabled>Applied</button>
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#{{index}}" aria-expanded="false" aria-controls="collapseExample">Details</a>
            </p>
            <div class="collapse" id="{{index}}">
                <div class="well">
                    <table class="table table-striped">
                        <tr>
                            <th>Total Vacancies:</th>
                            <td>{{jobs.vacancies || 'Not Provided'}}</td>
                        </tr>
                        <tr>
                            <th>Career Level:</th>
                            <td>{{jobs.careerLevel || 'Not Provided'}}</td>
                        </tr>
                        <tr>
                            <th>Category:</th>
                            <td>{{jobs.category || 'Not Provided'}}</td>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <td>{{jobs.department || 'Not Provided'}}</td>
                        </tr>
                        <tr>
                            <th>Job Type</th>
                            <td>{{jobs.jobType || 'Not Provided'}}</td>
                        </tr>
                        <tr>
                            <th>Salary</th>
                            <td>{{jobs.salary || 'Not Provided'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>

</div>

<hr style="border-color: gray;" />