<div class="row">
    <div class="col-sm-6 col-md-4">
        <!--<div class="thumbnail">-->
        <!--<img src="https://image.freepik.com/free-vector/we-are-hiring-sign_23-2147502433.jpg">-->
        <div class="caption">
            <h2>{{jobs.jobTitle}}</h2>
            <p>{{jobs.description}}</p>
            <p><a href="#" class="btn btn-primary" role="button">Apply!</a> <a class="btn btn-primary" role="button" data-toggle="collapse"
                    href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Details</a></p>
        </div>
        <!--</div>-->
    </div>
    <div class="collapse" id="collapseExample">
        <div class="well">
            ...
        </div>
    </div>
</div>