<div class="container col-md-4" style="margin-top: 80px;left: 0;right: 0;position: absolute;">
<!--<pre>{{allCands$ | async | json}}</pre>-->
<!--<div class="list-group" *ngFor="let item of(allCands$ | async))">-->
<pre> {{data | json}}</pre>
<!--<ul *ngFor="let item of keys(data)">
    <li>{{item | json}}</li>
</ul>-->
<!--<li href=" # " class="list-group-item active ">Cras justo odio</li>
    <li href="# " class="list-group-item ">Cras justo odio</li>
    <li href="# " class="list-group-item ">Cras justo odio</li>
    <li href="# " class="list-group-item ">Cras justo odio</li>
    <li href="# " class="list-group-item ">Cras justo odio</li>-->
</div>
<!--</div>-->